El problema (potencial) de una compañia al querer recomendar juegos a personas que llegan a su plataforma
- Para nuevos usuarios, seguerir nuevos juegos (solo lo que pueda interesarle) al ingresar a la plataforma solo 1 vez al mes
- No sabemos el comportamiento del usuario (al ser nuevo) por lo que no sabemos que prefiere o no comprar
- Generar una prediccion dependiendo de algunos datos del usuario
- Solo ML

Cuento con el archivo base (data limpia) para esta practica con datos de algunos usuarios:
- Edad
- Genero (0=hombre / 1=mujer)
- Juegos (accion,fps,jrpg,plataforma,puzzle)

In [9]:
import pandas as pd
df = pd.read_csv("fuentes/juegos.csv")

In [10]:
df

    edad  genero      juegos
0      8       0      accion
1     11       0      accion
2     12       0         fps
3     13       0         fps
4     15       0         fps
5     18       0         fps
6     22       0        jrpg
7     25       0        jrpg
8     28       0        jrpg
9     31       0      accion
10    32       0      accion
11    35       0      accion
12    10       1  plataforma
13    13       1  plataforma
14    14       1  plataforma
15    15       1      puzzle
16    18       1      puzzle
17    19       1         fps
18    22       1         fps
19    25       1         fps

Al ser datos limpios podemos darnos cuenta de algunas cosas:
- hombres entre 8-11 y 31-35 años prefieren juegos de accion
- hombres entre 12 y 18 años prefieren juegos de fps
- hombres entre 22 y 28 años prefieren juegos de jrpg
- no hay registro de hombres que prefieran juegos de plataforma o puzzle

- mujeres entre 10 y 14 años prefieren juegos de plataforma
- mujeres entre 15 y 18 años prefieren juegos de puzzle
- mujeres entre 19 y 25 años prefieren juegos de fps
- no hay registro de mujeres que prefieran juegos de accion o jrpg

El siguiente paso seria limpiar los datos (nulos, duplicados, incorrectos, no relevantes, etc.), sin embargo en esta practica asumiremos que estos datos ya se encuentran limpios

En cambio, procederemos a divir los datos en:
- Datos de entrada (lo que le voy a pasar al modelo)
- Datos de salida (lo que el modelo me va a responder)

En este caso, mis datos de entrada van a ser "edad" y "genero", y los datos de salida seran "juegos"
- Por ejemplo, yo le quiero pasar la edad de 8 y genero 0, lo que el modelo debe de regresar son juegos accion

In [11]:
# Tal y como se ve acá
df.head(1)

   edad  genero  juegos
0     8       0  accion

In [13]:
# Para eso uso el metodo .drop, lo que hace es crear una tabla, por lo que hay que asignarselo a una nueva variable
# *Por convencion, la variable de los imputs se llama "X"
X = df.drop(columns=["juegos"])
X

    edad  genero
0      8       0
1     11       0
2     12       0
3     13       0
4     15       0
5     18       0
6     22       0
7     25       0
8     28       0
9     31       0
10    32       0
11    35       0
12    10       1
13    13       1
14    14       1
15    15       1
16    18       1
17    19       1
18    22       1
19    25       1

In [15]:
# Ahora procedo a generar mi tabla de datos de salida, como solo es una columna, puedo acceder directamente a ella
# *Por convencion la tabla de salidas se llama "y"
y = df["juegos"]
y

0         accion
1         accion
2            fps
3            fps
4            fps
5            fps
6           jrpg
7           jrpg
8           jrpg
9         accion
10        accion
11        accion
12    plataforma
13    plataforma
14    plataforma
15        puzzle
16        puzzle
17           fps
18           fps
19           fps
Name: juegos, dtype: object

Ya tenemos todos nuestros datos listos, ahora tocas seleccionar el modelo que vamos a utilizar (ningun modelo es bueno para todo, se debe seleccionar el modelo depenidendo lo que vayas a hacer)

En este caso vamos a utilizar Arbol de decisiones donde nos dice: El objetivo es crear un modelo que prediga el valor de una variable de destino mediante el aprendizaje de reglas de decisión simples deducidas de las características de los datos.         

Basicamete es predecir un valor por aprender reglas de decision en base a los datos que le pasamos, vamos a intentar predecir el comportamiento si yo le pasara un hombre de 14 años (no esta definido en mi tabla)

In [17]:
# importamos el modulo de tree
from sklearn.tree import DecisionTreeClassifier
# creamos un modelo en base a la clase
modelo = DecisionTreeClassifier()
# cargamos nuestro modelo con los datos de entrada(X) y salida(y)
# fit solo recibe los datos sin nombre de columnas, por lo que hay que modificar X, ya que esa tabla si tiene los nombres
# para eso basta con pedirle que acceda solo a los valores .values
modelo.fit(X.values,y)

# Predicciones
# Lo que espera .predict es una lista de los datos de entrada, en este caso una edad y un genero
# Yo quiero predecir hombres de 14,29 y 30 años
predicciones = modelo.predict([[14,0],[29,0],[30,0]])
predicciones

array(['fps', 'jrpg', 'accion'], dtype=object)

Nos arrojó los siguientes resultados:
- Hombres de 14 años = fps
- Hombres de 29 años = jrpg
- Hombres de 30 años = accion

In [18]:
df.head(11)

    edad  genero  juegos
0      8       0  accion
1     11       0  accion
2     12       0     fps
3     13       0     fps
4     15       0     fps
5     18       0     fps
6     22       0    jrpg
7     25       0    jrpg
8     28       0    jrpg
9     31       0  accion
10    32       0  accion

En lo anterior lo que hicimos fue pasarle todos nuestros datos para generar, pero lo ideal es divir datos de entrenamieto y datos de practica para probar si esta prediciendo como deberia